@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
	--fd-layout-width: 100vw;
	--color-fd-primary: #10b3ab;
}

@font-face {
  font-family: 'NewYork';
  src: url('/fonts/NewYork.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
