@import "tailwindcss";
@import "fumadocs-ui/css/solar.css";
@import "fumadocs-ui/css/preset.css";

:root {
	--fd-layout-width: 100vw;

	--introduction-color: var(--color-fd-primary);
	--adaptive-immunity-color: green;
	--innate-immunity-color: hsl(250, 80%, 54%);
	--immune-organs-tissues-color: red;
}

.introduction {
	--color-fd-primary: var(--introduction-color);
}

.adaptive-immunity {
	--color-fd-primary: var(--adaptive-immunity-color);
}

.innate-immunity {
	--color-fd-primary: var(--innate-immunity-color);
}

.immune-organs-tissues {
	--color-fd-primary: var(--immune-organs-tissues-color);
}
